.reportes-page{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px; 
}

.reportes-page h2{
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.reportes-page button {
    width: auto;
}