.editar-contrato {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
  }
  
  .editar-contrato h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
  }
  .editar-contrato h1 {
      text-align: center;
  }
  
  .form-section {
    margin-bottom: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    justify-content: center;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .editar-contrato textarea {
    resize: vertical;
  }
  
  .editar-contrato button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
  }
  
  .editar-contrato button:hover {
    background-color: #007f63;
  }

  .button-container{
    display: flex;
    justify-content: center;
  }

  .actividades-container {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }
  
  .activities-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .activities-table th, .activities-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .activities-table th {
    background-color: #f2f2f2;
    
  }
  
  .activities-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-container button {
    background-color: #009879;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #007f63;
  }
  
  