.perfil-page {
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 5px;
  }
  
  .perfil-section {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a la pantalla */
    gap: 10px; /* Espacio entre los elementos */
  }
  
  .perfil-section h3 {
    width: 100%; /* Hace que el título ocupe todo el ancho */
    margin-bottom: 10px;
  }