.contratos-page {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
  }
  
  .contratos-page h1 {
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .gestion-nuevo-contrato {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .gestion-nuevo-contrato button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
  }
  
  .gestion-nuevo-contrato button:hover {
    background-color: #007f63;
  }
  