.indicador-contrato-page {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    height: 600px;
  }

  .indicador-contrato-page h1 {
    text-align: center;
  }