.data-field {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin: 2px;
    width: 250px;
  }
  
  .data-field-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  
  .data-field-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .data-field-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .data-field-value {
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px solid #000;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
  }