

.contrasena-page {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    align-items:center;
    height: 100vh;
    background-color: white;
}

.contrasena-page h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    background-color: #1e88e5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: auto;
}

.button:hover {
    background-color: #1565c0;
}

.button-container{
    display: flex;
    justify-content: center;
}

.error {
    color: red;
    margin-top: 10px;
}