.actividades-page{
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 5px;
    height: 600px;
}